{% extends "base.html" %}
{% block content %}
  {% for link in links %}
    <article>
      <header>
        <h2><a href="{{ link.url }}">{{ link.description | escape }}</a></h2>
      </header>
      {% if link.extended %}
        <p>{{ link.extended | escape }}</p>
      {% endif %}
      {% if link.clean_tags %}
        <footer>
          {% for clean_tag in link.clean_tags %}
            <span class="tags">{{ clean_tag }}</span>
          {%- endfor -%}
        </footer>
      {% endif %}
    </article>
  {%- endfor -%}
{% endblock %}
